<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Ste prénomme</title>
		<style>
			
		</style>
	</head>

	<body>
    <div id="conteneur">    
    
      <h1>Prénomme</h1>
      <p>Le site pour vous aider à trouver le prénom de votre enfant.</p>
    </div>

  <nav>
    <ul id="menu">
      <li><a href="#">Etape n°1</a></li>
      <li><a href="#">Etape n°2</a></li>
    </ul>
  </nav>
		<div id="demo">
			<!-- <pre>{{commits}}</pre> -->
			<h1>Prénomme </h1>
			<template v-for="branch in branches">
				<input
					type="radio"
					:id="branch"
					:value="branch"
					name="branch"
					v-model="currentBranch"
				/>
				<label :for="branch">{{ branch }}</label>
			</template>
			<p>vuejs/vue@{{ currentBranch }}</p>
			<ul>
				<li v-for="record in commits">
					<a :href="record.html_url" target="_blank" class="commit"
						>{{ record.sha.slice(0, 7) }}</a
					>
					-
					<span class="message"
						>{{ formattedMessage(record.commit.message) }}</span
					><br />
					by
					<span class="author"
						><a :href="record.author.html_url" target="_blank"
							>{{ record.commit.author.name }}</a
						></span
					>
					at
					<span class="date"
						>{{ formattedDate(record.commit.author.date) }}</span
					>
				</li>
			</ul>
		</div>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://unpkg.com/vue@3"></script>
		<script>
			const apiURL =
				"https://opendata.paris.fr/api/records/1.0/search/?dataset=liste_des_prenoms&q=&facet=sexe&facet=annee&facet=prenoms";
			const config = {
			};

			Vue.createApp({
				data() {
					return {
						branches: ["main", "dev"],
						currentBranch: "main",
						commits: null,
					};
				},

				created: function () {
					this.fetchDataPromise();
					// this.fetchDataAsync()
				},

				watch: {
					currentBranch: "fetchDataPromise", //fetchDataAsync
				},
				methods: {
					fetchDataPromise: function () {
						const self = this;
						axios
							.get(apiURL + self.currentBranch, config)
							.then(function (response) {
								console.log(response.data);
								self.commits = response.data;
								// console.log(self.commits[0].html_url);
							})
							.catch(function (error) {
								console.log(error);
							});
					},
					// fetchDataAsync: async function () {
					// 	try {
					//   	const response = await axios.get(apiURL + this.currentBranch, config)
					// 	  console.log(response.data)
					// 	  this.commits = response.data
					//         // console.log(self.commits[0].html_url);
					//   } catch(error) {
					//     console.log(error);
					//   }
					// },
					formattedMessage: function (message) {
						const newline = message.indexOf("\n");
						return newline > 0 ? message.slice(0, newline) : message;
					},
					formattedDate: function (date) {
						return date.replace(/T|Z/g, " ");
					},
				},
			}).mount("#demo");
		</script>
	</body>
</html>
